<!DOCTYPE HTML>
<html>
	<head>
		<title>Fragment of Hope</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="../index.html" class="image avatar"><img src="../images/avatarPic.jpg" alt="" /></a>
					<h1><strong>I am Brendan</strong>, a Software Engineer
				</div>
			</header>

		<!-- Main -->
			<div id="main">
			<!-- One -->
				<section id="one">
					<header class="major">
						<h1>Fragment of Hope</h1>
					</header>
					<div class="box alt">
						<div class="row gtr-50 gtr-uniform">
							<div class="col-12"><span class="image fit"><img src="main.gif" alt="" /></span></div>
						</div>
					</div>
					<p> <b>Fragment of Hope</b> is a Quake inspired top-down rougelike. Transverse through maze-like levels, smash barrels to collect coints, and upgrade your character and weapons to make it through the 9 battle gauntlet.</p>
					<h2>Downloads</h2>
					<ul class="actions">
						<li><a href="Fragment_of_Hope.zip" class="button primary icon solid fa-download">Windows</a></li>
						<li><a href="https://github.com/Wylie288/Fragment-of-Hope" class="button primary icon brands fa-github">GitHub</a></li>
					</ul>
				</section>

			<!-- Two -->
				<section id="two">
					<h2>Technical Information</h2>
					<h3>Project Details</h3>
					<p>
						<b>IDE:</b> Gamemaker<br>
						<b>Languages:</b> GML<br>
						<b>Stage:</b> Prototype
					</p>
					<h3>Notable Features</h3>
					<p>
						<li>20 unique enemies with unique attacks, movement and defenses.</li>
						<li>4 weapons each with its own special capabilities. Each weapon has 2 major upgrades and 6 minor upgrades</li>
						<li>Find or buy items to upgrade 39 different stats for your character</li>
						<li>Grid based procedural level generator with varying size rooms</li>
					</p>
					<button class="button collapsible primary icon solid fa-plus">Procedural Level Generation</button>
					<div class="content" id="imageSet2"><br>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="lg1.png" class="image fit thumb"><img src="lg1.png" alt="" /></a>
								<h3>Step 1</h3>
								<p>An initial grid of corners are instantiated</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="lg2.png" class="image fit thumb"><img src="lg2.png" alt="" /></a>
								<h3>Step 2</h3>
								<p>A level blockout is instantiated</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="lg3.png" class="image fit thumb"><img src="lg3.png" alt="" /></a>
								<h3>Step 3</h3>
								<p>Walls are instantiated at random</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="lg4.png" class="image fit thumb"><img src="lg4.png" alt="" /></a>
								<h3>Step 4</h3>
								<p>Required rooms are placed into the level</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="lg5.png" class="image fit thumb"><img src="lg5.png" alt="" /></a>
								<h3>Step 5</h3>
								<p>Optional rooms are filled around the required rooms</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="lg6.png" class="image fit thumb"><img src="lg6.png" alt="" /></a>
								<h3>Step 6</h3>
								<p>Various fixes are applied. Notably any rooms that are inaccessible have doors added.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="lg7.png" class="image fit thumb"><img src="lg7.png" alt="" /></a>
								<h3>Step 7</h3>
								<p>In the final step rooms themselves are instantiated</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="lgex.gif" class="image fit thumb"><img src="lgex.gif" alt="" /></a>
								<h3>Examples</h3>
								<p>A few more example levels</p>
							</article>
						</div>
					</div>
				</section>

			<!-- Three -->
				<section id="three">
					<h2>What I learned</h2>
						<p>The biggest thing I learned when working on this project was a hard lesson on technical debt. This was originally a much smaller scope game that was made in about a month. That project was completed without a hitch. In doing so I stumbled upon an idea for a long term game. So I copied the project and set to work. The problem was every piece of code was written with a 1 month time span in mind. After putting many more months into this project I realized it quickly became more difficult to maintain. The entire project needed a refactor with long term devevlopment in mind. I should have started this new project from scratch instead of using the old project files.</p>
				</section>

			<!-- Four -->
				<section id="four">
					<h2>Image Gallery</h2>
					<div class="row" id="imageSet1">
						<article class="col-6 col-12-xsmall work-item">
							<a href="gallery1.png" class="image fit thumb"><img src="gallery1.png" alt="" /></a>
							<h3 style="display: none">Image 1</h3>
						</article>
						<article class="col-6 col-12-xsmall work-item">
							<a href="gallery2.png" class="image fit thumb"><img src="gallery2.png" alt="" /></a>
							<h3 style="display: none">Image 2</h3>
						</article>
						<article class="col-6 col-12-xsmall work-item">
							<a href="gallery3.png" class="image fit thumb"><img src="gallery3.png" alt="" /></a>
							<h3 style="display: none">Image 3</h3>
						</article>
						<article class="col-6 col-12-xsmall work-item">
							<a href="gallery4.png" class="image fit thumb"><img src="gallery4.png" alt="" /></a>
							<h3 style="display: none">Image 4</h3>
						</article>
					</div>
					<a href="#" id="backToTop" class="button small">Back to Top</a>
				</section>
			</div>
		</body>
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="www.linkedin.com/in/bforish" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="https://github.com/Wylie288" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="wylie288.github.io" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="mailto:brendanforish@hotmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.poptrox.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
</html>